name: Go Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      run: |
        go build -o build/ ./...

    - name: Upload Linux Build Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: unsteam-linux
        path: build/unsteam

  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build for Windows
      run: |
        go build -o build/ ./...

    - name: Upload Windows Build Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: unsteam-windows
        path: build/unsteam.exe
